body {
  
  font: 14px 'Helvetica Neue',
  sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(39, 15, 15);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(131, 63, 63);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}






